<section class="contact" id="contact">
  <div class="container">
    <h3>Contact Us</h3>
    <p>Email: hello@Website.com</p>
  </div>
</section>

<style>
  .contact {
      padding: 3rem 1rem;
      background-color: var(--mint);
    }
    
    .contact h3 {
      font-size: 2rem;
      color: var(--deep-forest-green);
      margin-bottom: 1rem;
    }
</style>
